<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">

  </head>
  <body>
<!--
    <div id="commentTable">
      <table class="table" id="commentTable">
        <thead>
          <th>Comments</th>
        </thead>

        <tbody id="commentTableBody">
          <tr class="comInfo" v-for="comment in comInfo">
            <td>{{comment.id}}</td>
            <td>{{comment.commentText}}</td>
          </tr>
        </tbody>

        <tfoot>
          <tr>
            <td></td>
            <td>
              <form v-on:submit.prevent="createComment()" id="newCommentForm">
                <div class ="comInfo">
                  <label for="newComment">Post</label>
                  <input type="textarea" v-model='newComment.commentText' class="form-control" id="newComment" placeholder="Enter Comment">
                </div></<br>
              </td>
            <td><button value="Post Comment" class="button" type="submit" id="submitNewComment">Post Comment</button></td>
            </form>
          </tr>
      </table>
    </div>
-->

    <table class="table" id="commentTable">

      <div class="col-6" id="userCom">

          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Comment</th>
            </tr>
          </thead>

          <tbody id="commentTableBody">

            <tr>
              <div id="comInfo" v-for="comment in comInfo">
                <td>{{comment.id}}</td>
                <td>{{comment.commentText}}</td>
              </div>
            </tr>
          </tbody>

          <tfoot>
            <td></td>
            <td>
              <form v-on:submit.prevent="createComment()" id="newCommentForm">
                <div class ="comInfo">
                  <input type="textarea" v-model='newComment.commentText' class="form-control" id="newComment" placeholder="Enter Comment:">
                  </div></<br>
              </td>
            <td><button value="Post Comment" class="button" type="submit" id="submitNewComment">Post Comment</button></td>
            </form>
          </tfoot>

        </div>

      </table>

    <!-- Optional JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/comments.app.js"></script>
  </body>
  </html>
